::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: rgba(50, 50, 50, .3);
}

::-webkit-scrollbar-track {
  border-radius: 1em;
  background-color: rgba(50, 50, 50, .1);
}

/* windows 系统下，对算子属性面板中的提示图标样式进行微调 */
.compox-box .compox-label .ic-tishi, .compox-box .compox-label .var-setting {
  position: relative;
  top: 1px;
}