
#coreThreadPoolSize
#maxThreadPoolSize
#threadKeepAliveTime: 32
#cycleCheckParallels: 2
jobTypeConfigurations:
  - jobType: 'oyez'
    sourceType: 'oyez'
    sourceSelectorClazz: 'org.datayoo.sengee.selector.SengeeJobSourceSelector'
    taskQueuingTimeOut: 60000
  - jobType: 'oyez.debug'
    sourceType: 'oyez.debug'
    sourceSelectorClazz: 'org.datayoo.sengee.selector.SengeeJobSourceSelector'
    taskQueuingTimeOut: 60000
    #sourceSelectorClazz
    #taskQueuingTimeOut
  - jobType: 'crawlerJob'
    sourceType: 'crawler'
#queuingTimeoutConfiguration:

#GeeSourceManager Configuration
gsmConfiguration:
  yeeProps:
    yc.srv.address: datayoo.sengee
    yc.srv.port: 8823
  #rmsClazz
  #rmsPropFiles
  gspConfigurations:
    - sourceType: 'crawler'
      minPoolSize: 1
      maxPoolSize: 8
      #availableRatioLimit
      #propsFile
      #scaleOutCycleTimeLimit
      #taskQueueSize
    - sourceType: 'oyez'
      minPoolSize: 1
      maxPoolSize: 16
    - sourceType: 'oyez.debug'
      minPoolSize: 1
      maxPoolSize: 8
      #availableRatioLimit
      #propsFile
      #scaleOutCycleTimeLimit
      #taskQueueSize
